.menuBar
  i.fa.fa-bars
.navigation
  span.brand
    img(src='images/nekobito.png', style='width: 15px; margin-right:3px; margin-top: -3px;')
    | Nekobito - A Markown Text Editor on Browser
  span(style='position: absolute; top: 10px;')
    a.github-button(href='https://github.com/gaaamii/nekobito', data-icon='octicon-mark-github', data-count-href='/gaaamii/nekobito/stargazers', data-count-api='/repos/gaaamii/nekobito#stargazers_count') Star
  script#github-bjs(async='', defer='', src='https://buttons.github.io/buttons.js')
