.menuBar
  i.fa.fa-bars
.navbar.navbar-default
  .container-fluid
    span.brand
      img(src='images/nekobito.png', style='width: 15px; margin-right:3px; margin-top: -3px;')
      | Nekobito - A Markdown Text Editor on Browser
    ul.nav.navbar-nav.navbar-right
      li
        button.btn.btn-default.btn-positive.help(data-toggle="modal", data-target="#help-modal")
          i.fa.fa-question
          |Keyboard Shortcuts
      li
        button.btn.btn-default.btn-positive.about(data-toggle="modal", data-target="#about-modal")
          i.fa.fa-info
          |About
