doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Nekobito is a Markdown text editor which enables you to write more comfortably.')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title Nekobito - Markdown Editor on Browser
    link(rel='stylesheet', href='style.min.css')
    link(rel='shortcut icon', href='images/favicon.ico')
  body
    block body
    block scripts
