#main.row
  .col-sm-5.editor-wrapper
    #editor
      form
        input#title(type='text', placeholder='Title', autofocus='', tabindex='1')
        textarea#body(placeholder='# Markdown text here.', tabindex='2')
    #notice(style='display: none;')
    .buttons
      button#deleteBtn.btn.btn-basic Delete
      button#saveBtn.btn.btn-basic Save
  .col-sm-7.preview-wrapper
    #preview
      h1#preview-title
      #preview-body
