#sidebar
  .row-sidebar
  .row-sidebar
    button#syncBtn.btn-row.btn-sync-dropbox
      i.fa.fa-dropbox
      | Sync with Dropbox
  .row-sidebar
    button#addBtn.btn-row.btn-add
      i.fa.fa-pencil
      | Write
  ul#draftsList
